#banner
  .banner_content
    %h1 Mdoc
    %p Work with Doc | Make a better life
    %button= link_to "Enter", new_user_registration_path
    
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Work 
        %p MMMMMMMMMMMMMM
#buttom_cta
  .wrapper
    %h2 Go
    %br
    %button= link_to "Join now", new_user_registration_path